/* Final CSS sheet
Sky: #caebf2
Carbon: #A9A9A9
Watermelon: #FF3B3F
Neutral: #EFEFEF
*/

body {
  background-color: #efefef;
  font-family: Verdana, Geneva, sans-serif;
  overflow: hidden;
}

.navbar {
  margin: -8px -8px 0px -8px;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.navbar-item {
  float: left;
  display: block;
  color: #a9a9a9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar button {
  background-color: unset;
  border: unset;
  font-size: inherit;
  font-family: inherit;
}

.navbar button:hover {
  background-color: #f5f5f5;
}

.navbar .current-item {
  color: #FF3B3F;
}

.search {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

input {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #A9A9A9;
  /* margin: 0px 5px; */
  text-overflow: ellipsis;
  height: 100%;
}

.button {
  margin: 0px 5px;
  min-width: 75px;
  border: none;
  padding: 7px 14px;
  background-color: #A9A9A9;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button:hover {
  cursor: pointer;
  background-color: #a0a0a0;
}

.calendar {
  margin-left: 5px;
}

#LandingGo {
  background-color: #FF3B3F;
  color: white;
  min-width: 50px;
}

#LandingGo:hover {
  background-color: #E53537;
}

h2 {
  margin: 10px;
}

h1 {
  font-size: 50px;
  text-align: center;
}

#date {
  width: 50%;
}

.flightDiv {
  /* border: solid;
  border-width: 1px;
  border-color: #A9A9A9;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 5px; */
  margin: 10px;
  padding: 10px;
  background-color: white;
  z-index: 1;
  box-shadow: -2px 2px 2px #A9A9A9;
}

.flightDiv:hover {
  cursor: pointer;
}

/* This is for the datepicker */
.ui-draggable, .ui-droppable {
	background-position: top;
}

.color-header {
  color: #A9A9A9;
  text-align: center;
}

.autocomplete {
  width: 100%;
  position: relative;
}

.autocomplete-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #A9A9A9;
  border-top: unset;
  display: none;
  overflow-y: auto;
  max-height: 300px;
}

.item {
  font-size: 16px;
  padding: 10px;
  background-color: white;
}

.item:hover {
  background-color: #A9A9A9;
  cursor: pointer;
}
